<footer class="footer">
  <div class="social-icons">
    <i class="fab fa-facebook"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-linkedin"></i>
  </div>

  <p class="copyright">
    © Wanderlust Private Limited
  </p>

  <div class="links">
    <a href="#">Privacy</a>
    <a href="#">Terms</a>
  </div>
</footer>